{% extends 'base.html' %}
{% load static %}

{% block head %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src = '{% static 'js/illness_form.js' %}'></script>
	<style type = 'text/css'>
	.gray_box {
		background-color: rgba(0,0,0,0.1);
		padding:5px;
	}
	</style>
{% endblock head %}


{% block content %}
	<h1> Illness Form for {{illness}} </h1>
	<form method = "post">
		{% csrf_token %}
		{{iform}}
		<input type = 'submit' name = 'submit_iform' value = 'submit iform'/>
	</form>

<div class = 'old_symp_rec gray_box'>
	<ul> Symptoms
		{% for symptom in symptoms %}
		<li> {{symptom.description}} </li>
		{% endfor %}
	</ul>
	<ul> Recommendations
		{% for rec in recommendations %}
		<li> {{rec.recommendation}} </li>
		{% endfor %}
	</ul>
</div>

	
	<!-- <button class = 'submit_search_button'>filter</button> -->
	<form method = "post"> 
		<b> choose symptom to add </b><br>
		{% csrf_token %}
		<label for = 'search_bar'> Search Existing Symptoms </label>
		<input type = 'text' class = 'search_term' name = 'search_bar' value = ''/>
		<input type = 'submit' name = 'submit_old_symptom' value = 'Submit Checked Symptoms'/>
		{% for symptom in all_symptoms %}
		<div class = 'old_symptom' id = '{{symptom.description}}'>
			<input type = 'checkbox' name = 'old_symptom' value = '{{symptom.description}}'/>
			<label for = '{{symptom.description}}'> {{symptom.description}} </label>
		</div>
		{% endfor %}
		 
	</form>
	<form method = 'post' class = "gray_box">
		{% csrf_token %}
		{{symptom_form}}
		<input type = 'submit' name = 'submit_symptom' value = 'Submit' />
	</form>

	
	
	<form method = "post" > 
		<b> choose recommendation to add </b><br>
		{% csrf_token %}
		<label for = 'rec_search_bar'> Search Existing Recommendations </label>
		<input type = 'text' class = 'rec_search_term' name = 'rec_search_bar' value = ''/>
		 <input type = 'submit' name = 'submit_old_rec' value = 'Submit Checked Recommendations'/>
		{% for rec in all_recommendations %}
		<div class = 'old_recommendation' id = '{{rec.recommendation}}'>
			<input type = 'checkbox' name = 'old_recommendation' value = '{{rec.recommendation}}'/>
			<label for = '{{rec.recommendation}}'> {{rec.recommendation}} </label>
		</div>
		{% endfor %}
	</form>
	<form method = "post" class = "gray_box">
		{% csrf_token %}
		{{recommendation_form}}
		<input type = 'submit' name = 'submit_rec'/>
	</form>


{% endblock content %}
