{% load static %}
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src = '{% static 'js/illness_form.js' %}'></script>
</head>

<body>
	<h1> Illness Form for {{illness}} </h1>
	<a href = '/list' > Back to List </a>
	<form method = "POST">
		{% csrf_token %}
		<!-- this form is for big changes like changing name or deleting the illness -->
		<input type = 'submit' name = 'delete_input' value = 'Delete This Illness'/>
		<input type = 'text' name = 'changename_input' value = ""/>
		<input type = 'submit' name = 'changename_submit' value = 'Change Illness Name'/>
	</form>
	<ul> Symptoms
		{% for symptom in symptoms %}
		<li> {{symptom.description}} </li>
		{% endfor %}
	</ul>
	<ul> Recommendations
		{% for rec in recommendations %}
		<li> {{rec.recommendation}} </li>
		{% endfor %}
	</ul>
	<b> choose symptom to add </b><br>
	
	<!-- <button class = 'submit_search_button'>filter</button> -->
	<form method = "post"> 
		{% csrf_token %}
		<label for = 'search_bar'> Search Existing Symptoms </label>
		<input type = 'text' class = 'search_term' name = 'search_bar' value = ''/>
		<input type = 'submit' name = 'submit_old_symptom' value = 'Submit Checked Symptoms'/>
		{% for symptom in all_symptoms %}
		<div class = 'old_symptom' id = '{{symptom.description}}'>
			<input type = 'checkbox' name = 'old_symptom' value = '{{symptom.description}}'/>
			<label for = '{{symptom.description}}'> {{symptom.description}} </label>
		</div>
		{% endfor %}
		 
	</form>
	<form method = 'post'>
		{% csrf_token %}
		{{symptom_form}}
		<input type = 'submit' name = 'submit_symptom' value = 'Submit' />
	</form>

	<b> choose recommendation to add </b><br>
	
	<form method = "post"> 
		{% csrf_token %}
		<label for = 'rec_search_bar'> Search Existing Recommendations </label>
		<input type = 'text' class = 'rec_search_term' name = 'rec_search_bar' value = ''/>
		 <input type = 'submit' name = 'submit_old_rec' value = 'Submit Checked Recommendations'/>
		{% for rec in all_recommendations %}
		<div class = 'old_recommendation' id = '{{rec.recommendation}}'>
			<input type = 'checkbox' name = 'old_recommendation' value = '{{rec.recommendation}}'/>
			<label for = '{{rec.recommendation}}'> {{rec.recommendation}} </label>
		</div>
		{% endfor %}
	</form>
	<form method = "post">
		{% csrf_token %}
		{{recommendation_form}}
		<input type = 'submit' name = 'submit_rec'/>
	</form>

</body>
</html>